modules = ["nodejs-20", "python-3.11", "web"]
run = "npm run start"

[nix]
channel = "stable-24_05"
packages = ["vim", "typescript", "lsof", "nano"]

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 80
externalPort = 80
