<!DOCTYPE html>
<html lang="en">
<body>
  <form action="/ml" target="_blank" method="get">
    <button type="submit">Example 1: Scan with Magic Link</button>
    <input name="email" placeholder="Enter your email" required />
  </form>
  <hr>
  <form action="/mm" target="_blank">
    <button type="submit">Example 2: Scan with Metamask</button>
  </form>
</body>
</html>
