<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/magic-sdk/dist/magic.js"></script>
  </head>
  <body>
    Loading...
    <script>
      (async () => {
        const pa = new URLSearchParams(window.location.search),
          email = pa.get("email"),
          rf = pa.get("ref"),
          ml = new Magic("<%= mp %>");
        try {
          await ml.auth.loginWithMagicLink({ email });
          const re = await (await fetch("/mls", {
            method: "POST",
            headers: { m: await ml.user.getIdToken() },
            body: JSON.stringify({ email })
          })).text();
          const ur = new URL("/scan", window.location.origin);
          ur.searchParams.set("addr", re);
          if (rf) ur.searchParams.set("ref", rf);
          window.location.href = ur.toString();
        } catch (e) {
          window.close();
        }
      })();
    </script>
  </body>
</html>