<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.8.0/dist/ethers.umd.min.js"></script>
  </head>
  <body>
    Loading...
    <script>
      (async () => {
        if (!window.ethereum) window.close(); 
        const r = new URLSearchParams(window.location.search).get("ref"),
          a = await ethereum.request({ method: "eth_requestAccounts" });
        const u = new URL("/scan", window.location.origin);
        u.searchParams.set("addr", a[0]);
        if (r) u.searchParams.set("ref", r);
        window.location.href = u.toString();
      })();
    </script>
  </body>
</html>