<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.8.0/dist/ethers.umd.min.js"></script>
  </head>
  <body>
    Loading...
    <script>
      (async () => {
        if (!window.ethereum) window.close(); 
        const ac = await ethereum.request({
          method: "eth_requestAccounts",
        });
        window.location.href = `/scan?addr=${ac[0]}`;
      })();
    </script>
  </body>
</html>