<!doctype html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/ethers@5.8.0/dist/ethers.umd.min.js"></script>
  </head>
  <body>
    Loading...
    <script>
      (async () => {
        if (!window.ethereum) window.close(); 
        const rf = new URLSearchParams(window.location.search).get("ref"),
          ac = await ethereum.request({ method: "eth_requestAccounts" });
        const ur = new URL("/scan", window.location.origin);
        ur.searchParams.set("addr", ac[0]);
        if (rf) ur.searchParams.set("ref", rf);
        window.location.href = ur.toString();
      })();
    </script>
  </body>
</html>