<!doctype html>
<html>
  <head>
    <style>
      html, body, iframe { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; }
    </style>
  </head>
  <body>
    <iframe id="fr" allow="camera; microphone" src="<%= fr %>"></iframe>
    <pre id="dv"></pre>
    <script>
      window.addEventListener("message", async function(event) {
        const da = event.data.analysisData;
        const ad = new URLSearchParams(window.location.search).get("addr");
        if (da.vitalSigns) {
          document.getElementById("fr").remove();
          document.getElementById("dv").innerHTML = 
            `<b>Stored on-chain<b><br/><br/>
            ${JSON.stringify(da, null, 2)}<br/><br/>
            Your referral link: 
            <b>https://insightgenesis.ai/scan?ref=${ad}</b>`;

          await fetch('/store', {
            method: 'POST',
            headers: { 'addr': ad, 'type': '1', 'Content-Type': 'application/json' },
            body: JSON.stringify(da)
          });
        }
      });
    </script>
  </body>
</html>
