<!doctype html>
<html>
  <head>
    <style>
      html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: hidden;
        font-family: sans-serif;
      }

      #viewer {
        padding: 1rem;
        white-space: pre-wrap;
        word-break: break-word;
      }

      iframe {
        display: block;
        border: none;
        width: 100%;
        height: 100%;
      }
    </style>
  </head>
  <body>
    <iframe id="fr" allow="camera; microphone" src="<%= fr %>"></iframe>
    <pre id="dv"></pre>
    <script>
      window.addEventListener("message", function(event) {
        const da = event.data.analysisData;
        if (da && JSON.stringify(da).length > 100) {
          console.log("Received analysisData:", da);
          document.getElementById("fr").remove();
          document.getElementById("dv").innerHTML = `${JSON.stringify(da, null, 2)}`;
        }
      });
    </script>
  </body>
</html>
