<!doctype html>
<html>
  <head>
    <style>
      html, body, iframe { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; }
    </style>
  </head>
  <body>
    <iframe id="f" allow="camera; microphone" src="<%= fr %>"></iframe>
    <pre id="d"></pre>
    <script>
      const p = new URLSearchParams(window.location.search),
        a = p.get("addr"),
        r = p.get("ref");
        
      if (r) fetch('/ref', {method: 'POST', headers: { 'to': a, 'from': r }});
      
      window.addEventListener("message", async function(event) {
        const d = event.data.analysisData;
        if (d && d.vitalSigns) {
          document.getElementById("f").remove();
          document.getElementById("d").innerHTML = 
`<b>Stored on-chain:</b><br/>
${JSON.stringify(d, null, 2)}<br/>
Your referral link: <b>https://insightgenesis.ai/scan?ref=${a}</b>`;
          await fetch('/store', {
            method: 'POST',
            headers: { 'addr': a, 'type': '1', 'Content-Type': 'application/json' },
            body: JSON.stringify(d)
          });
        }
      });
    </script>
  </body>
</html>
